@charset "utf-8";
/* CSS Document */
table{
    border: 2px solid black;
    padding-left: 0px;
    margin-left: 130px;
}

tr.spaceUnder >td {
  padding-bottom: 1em;
	
}
td.spaceRight{
padding-right: 1em;	
	}
	
h1{text-align: center}
body {
    background-image: -webkit-linear-gradient(329deg,rgba(255,255,255,1.00) 0%,rgba(0,182,255,1.00) 100%);
    background-image: -moz-linear-gradient(329deg,rgba(255,255,255,1.00) 0%,rgba(0,182,255,1.00) 100%);
    background-image: -o-linear-gradient(329deg,rgba(255,255,255,1.00) 0%,rgba(0,182,255,1.00) 100%);
    background-image: linear-gradient(121deg,rgba(255,255,255,1.00) 0%,rgba(0,182,255,1.00) 100%);
    background-size: cover;
    background-repeat: no-repeat	
}
#seatInfo {
    margin-left: 136px;
}
